<app-header [items]="items" (openEventEmitter)="openCart()"></app-header>
<div class="container my-4">
  <h2>CATALOGO DE PRODUCTOS APP!</h2>
  <app-catalog
    [product]="product"
    (productEventEmitter)="onAddCart($event)"
  ></app-catalog>

  @if (showCart) {

  <app-cart-modal
    [items]="items"
    [total]="total"
    (idProductEventEmitter)="deleteCart($event)"
    (openEventEmitter)="openCart()"
  ></app-cart-modal>

  }
</div>
<!--Si hay elementos en nuestro carros se muestra o si no muestra mensaje de error-->
