<section class="main-home">
  <div class="main-text">
    <h5>
      Ofertas de Invierno<br />
      <h1>Nuevas Ofertas <br />Coleccion 2024</h1>
      <br />
      <a
        [routerLink]="['/catalog']"
        [state]="{ items: items, total: total }"
        class="main-btn"
        >Comprar Ahora</a
      >
    </h5>
    <div class="news mx-2 my-2">
      <img src="/assets/image/Producto3.jpeg" alt="" />
    </div>
  </div>
</section>

<!--NOVEDADES-->

<section class="update-news">
  <div class="up-center-text">
    <h2>NOVEDADES</h2>
  </div>
  <div class="update-cart">
    <div class="cart">
      <img src="/assets/image/Producto2.jpeg" alt="" />
      <h5>28/01/2024</h5>
      <h4>REDMI NOTE 12 (DELIVERY GRATIS)</h4>
      <p>
        Procesador: MediaTek Dimensity 1080 <br />
        Camara Frontal: 16 megapíxeles f/2.5 <br />
        Camara Trasera: Principal: 200 Mpx f/1.65,OIS Gran angular: 8 Mpx f/2.2
        Macro: 2 Mpx f/2.4 <br />
        Bateria: 5.000 mAh <br />
      </p>
    </div>

    <div class="cart">
      <img src="/assets/image/Producto3.jpeg" alt="" />
      <h5>28/01/2024</h5>
      <h4>POCO X5 PRO (DELIVERY GRATIS)</h4>
      <p>
        Procesador: Qualcomm Snapdragon 778G a 2,4 GHz<br />
        Camara Frontal: 16 megapíxeles, f/2.45<br />
        Camara Trasera: Principal: 108 megapíxeles, f/1.89 Gran angular: 8
        megapíxeles, 120º, f/2.2 Macro: 2 megapíxeles<br />
        Bateria: 5.000 mAh<br />
      </p>
    </div>

    <div class="cart">
      <img src="/assets/image/Producto4.jpeg" alt="" />
      <h5>28/01/2024</h5>
      <h4>REDMI 12C (DELIVERY GRATIS)</h4>
      <p>
        Procesador: Mediatek Helio G85 <br />
        Camara Frontal: 5Mpx<br />
        Camara Trasera: Principal: 50 Mpx f/1,8 Sensor de profundidad: 2 Mpx
        f/2,4<br />
        Bateria: 5.000 mAh<br />
      </p>
    </div>
  </div>
</section>
