<section class="main-home">
  <div class="main-text">
    <h5>
      Ofertas de Verano <br />
      <h1>Nuevas Ofertas <br />Collection 2024</h1>
      <br />
      <a
        [routerLink]="['/catalog']"
        [state]="{ items: items, total: total }"
        class="main-btn"
        >Shop Now</a
      >
    </h5>
    <div class="news mx-2 my-2">
      <img src="/assets/image/Producto3.jpeg" alt="" />
    </div>
  </div>
</section>

<!--NOVEDADES-->

<section class="update-news">
  <div class="up-center-text">
    <h2>NEW UPDATES</h2>
  </div>
  <div class="update-cart">
    <div class="cart">
      <img src="/assets/image/Producto2.jpeg" alt="" />
      <h5>28 jan 2024</h5>
      <h4>Lets Start bring sale on this summer vacation.</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam
        eum dolorem numquam sapiente aliquid cumque in, modi blanditiis
        inventore earum vero eligendi minus soluta autem! Atque alias ut nobis?
      </p>
      <h6>Continue Reading...</h6>
    </div>

    <div class="cart">
      <img src="/assets/image/Producto3.jpeg" alt="" />
      <h5>28 jan 2024</h5>
      <h4>Lets Start bring sale on this summer vacation.</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam
        eum dolorem numquam sapiente aliquid cumque in, modi blanditiis
        inventore earum vero eligendi minus soluta autem! Atque alias ut nobis?
      </p>
      <h6>Continue Reading...</h6>
    </div>

    <div class="cart">
      <img src="/assets/image/Producto4.jpeg" alt="" />
      <h5>28 jan 2024</h5>
      <h4>Lets Start bring sale on this summer vacation.</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam
        eum dolorem numquam sapiente aliquid cumque in, modi blanditiis
        inventore earum vero eligendi minus soluta autem! Atque alias ut nobis?
      </p>
      <h6>Continue Reading...</h6>
    </div>
  </div>
</section>
