<section class="main-home">
  <div class="main-text">
    <h5>Ofertas de Verano</h5>
    <h1>
      Nuevas Ofertas <br />
      Collection 2024
    </h1>
    <p>Theres nothing like trend</p>
    <a href="#" class="main-btn">Shop Now</a>
  </div>
  <div class="down-arrow">
    <a href="#trending" class="down"><i class="bx bx-down-arrow-alt"></i></a>
  </div>
</section>

<section class="trending-product" id="trending">
  <div class="center-text">
    <h2>Our Trending <span>Products</span></h2>
  </div>

  <div id="cont-productossssss" class="products"></div>
</section>

<!--NOVEDADES-->

<section class="update-news">
  <div class="up-center-text">
    <h2>NEW UPDATES</h2>
  </div>

  <div class="update-cart">
    <div class="cart">
      <img src="/assets/image/Producto2.jpeg" alt="" />
      <h5>28 jan 2024</h5>
      <h4>Lets Start bring sale on this summer vacation.</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam
        eum dolorem numquam sapiente aliquid cumque in, modi blanditiis
        inventore earum vero eligendi minus soluta autem! Atque alias ut nobis?
      </p>
      <h6>Continue Reading...</h6>
    </div>

    <div class="cart">
      <img src="/assets/image/Producto3.jpeg" alt="" />
      <h5>28 jan 2024</h5>
      <h4>Lets Start bring sale on this summer vacation.</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam
        eum dolorem numquam sapiente aliquid cumque in, modi blanditiis
        inventore earum vero eligendi minus soluta autem! Atque alias ut nobis?
      </p>
      <h6>Continue Reading...</h6>
    </div>

    <div class="cart">
      <img src="/assets/image/Producto4.jpeg" alt="" />
      <h5>28 jan 2024</h5>
      <h4>Lets Start bring sale on this summer vacation.</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quibusdam
        eum dolorem numquam sapiente aliquid cumque in, modi blanditiis
        inventore earum vero eligendi minus soluta autem! Atque alias ut nobis?
      </p>
      <h6>Continue Reading...</h6>
    </div>
  </div>
</section>
